@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    position: relative;
    padding: 0;
    margin: 0;
  }

.container {
    width: 100vw;
    height: 85vh;
    background: var(--Light-blue-light-blue-100, #F3F5FC);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.main_logo {
    width: 5vw;
    margin-top: 1rem;
    margin-left: -1rem;
}

.main_logo>img {
    width: 6vw;
    height: 4vh; 
}

.content {
    width: 45vw;
    height: 80vh;
    margin-top: 3rem;
    margin-right: 3rem;
    display: flex;
    flex-direction: column;
}

.content>textarea {    
    height: 60vh;
    border: none;
    border-radius: 1rem;
    color: var(--Dark-blue-dark-blue-300, #0A3871);
    font-family: 'Inter';
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 3rem */
    resize: none;
}

.content__footer_message {
    display: flex;
    flex-direction: row;
}

.content__footer_message > img {
    width: 1rem;
    height: 1rem;
    box-sizing: border-box;
    padding: 0.5;
}

.content__footer_message > p {
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;

    color: var(--Gray-gray-400, #495057);
    font-family: 'Inter';
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 1.125rem */
}

.content__footer_buttons {
    display: flex;
    flex-direction: row;
    width: 42.5rem;
    align-items: flex-start;
    gap: 1.5rem;
}

.encrypt {
    display: flex;
    width: 20.5rem;
    padding: 1.5rem;
    align-items: flex-start;
    flex-shrink: 0;

    border-radius: 1.5rem;
    background: var(--Dark-blue-dark-blue-300, #0A3871);

    flex: 1 0 0;

    color: var(--White, #FFF);
    text-align: center;
    font-family: 'Inter';
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.decrypt {
    display: flex;
    width: 20.5rem;
    padding: 1.5rem;
    align-items: flex-start;
    gap: 0.5rem;
    flex-shrink: 0;

    border-radius: 1.5rem;
    border: 1px solid var(--Dark-blue-dark-blue-300, #0A3871);
    background: #D8DFE8;

    flex: 1 0 0;
    color: var(--Dark-blue-dark-blue-300, #0A3871);
    text-align: center;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;  
}

.result {
    width: 45vw;
    height: 80vh;
    border-radius: 2rem;
    margin-top: 3rem;

    background: var(--White, #FFF);
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.result__img {
    width: 45vw;
    display: flex;
    justify-content: center;
}

.result__img > img {
    width: 21rem;
    height: 19rem;
    margin-bottom: 1rem;
}

.result__h2 {
    width: 45vw;
    display: inline-block;
    white-space: normal;
    text-align: center;
}

.result__h2 > h2 {
    align-self: stretch;
    color: var(--Gray-gray-500, #343A40);
    text-align: center;
    font-family: 'Inter';
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.8rem;
}

.result__text {
    padding: 1rem;
}

#result__textarea {
    border: none;
    border-radius: 1rem;
    margin: 2px;
    color: var(--Dark-blue-dark-blue-300, #0A3871);
    font-family: 'Inter';
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 3rem */
    resize: none;
}

.result__button {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
    
}

.copiar {
    width: 10rem;
    height: 3rem;

    border: 1px solid var(--Dark-blue-dark-blue-300, #0A3871);
    border-radius: 1.5rem;
    background: rgb(172, 170, 170);

    color: var(--Dark-blue-dark-blue-300, #0A3871);
    text-align: center;
    font-family: 'Inter';
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.rodape{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1%;
    margin-top: 15px;
    background: #050345;
    color: #0d085a;
}

.rodape h6{
    font-size: 1rem;
    color: #00d4ff;
}
button:hover{
    background-color: #00d4ff;
    transition: 0.5s all;
}

@media screen and (max-width: 768px){
    .container {
        flex-direction: column;
        align-items: center;
    }

    .main_logo>img {
        width: 14vw;
    }

    .content {
        width: 90vw;
        height: 50vh;
        margin-top: 1rem;
        margin-left: 3rem;
        margin-bottom: 2rem;
    }

    .content > textarea {
        height: 40vh;
    }

    .result {
        width: 90vw;
        height: 20vh;

        margin-bottom: 0;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: 0;

        flex-wrap: nowrap;
        align-content: normal;
    }

    .result__img {
        display: none;
        width: 0;
        height: 0;
    }

    .result__h2 {
        width: 100%;
    }

    #result__textarea {
        width: 80vw;
        height: 10vh;
    }

    /* .copiar {
        width: 1rem;
        height: 1rem;
    } */
}

@media screen and (max-width: 380px) {
    .container {
        width: 100vw;
        height: 90vh;
    }

    .main_logo {
        width: 35vw;
    }

    .main_logo>img {
        width: 32vw;
    }

    .content {
        width: 80vw;
        height: 50vh;
    }

    .content > textarea {
        height: 30vh;
    }

    .content__footer_buttons {
        width: 80vw;
        flex-direction: column;
    }

    .encrypt {
        width: 18.8rem;
    }

    .decrypt {
        width: 18.8rem;
    }

    .result {
        width: 80vw;
    }
}